.input {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    gap: var(--input-gap, var(--gap-300, 12px));
    border-width: var(--input-border-width-default, var(--border-width-100, 1px));
    border-style: solid;
    border-radius: var(--border-radius-200, 10px);

    .icon {
        align-items: center;
        justify-content: center;
    }

    .icon--showOnHover {
        opacity: 0;
        transition: opacity .3s ease;
    }

    &:hover .icon--showOnHover {
        opacity: 1;
    }

    &:before {
        content: "";
        position: absolute;
        inset: 0;
        border-color: transparent;
        border-width: 1px;
        border-style: solid;
        transition: all .3s ease;
        z-index: -1;
    }
 
    &:focus,
    &[data-focus="true"] {
        &:before {
            inset: -4px;
            border-color: var(--input-border-color-focus, var(--accent-color-400, #1C6BBA));
        }
    }

    &[data-status="fail"] {
        &:before {
            inset: -4px;
            border-color: var(--input-border-color-fail, var(--fail-color-400, #BA2D0B));
        }
    }

    input {
        width: 100%;
        border: none;
        padding: 0;
        margin: 0;
        background: transparent;
        appearance: none;
        font-family: 'Roboto', sans-serif;
        font-size: var(--input-font-size, var(--font-size-400, 16px));
        line-height: var(--input-line-height, 18px);

        &:focus,
        &:focus-visible {
            outline: none;
        }
    }

    &[data-size="S"] {
        padding: var(--input-s-padding-y, var(--padding-200, 8px)) var(--input-s-padding-x, var(--padding-300, 12px));
        gap: var(--input-s-gap, var(--gap-300, 12px));

        &:before {
            border-radius: 6px;
        }

        input {
            font-size: var(--input-s-font-size, var(--font-size-400, 16px));
            line-height: var(--input-s-line-height, 18px);
        }
    }

    &[data-size="M"] {
        padding: var(--input-m-padding-y, var(--padding-300, 12px)) var(--input-m-padding-x, var(--padding-300, 12px));
        gap: var(--input-m-gap, var(--gap-300, 12px));

        &:before {
            border-radius: 8px;
        }

        input {
            font-size: var(--input-m-font-size, var(--font-size-400, 16px));
            line-height: var(--input-m-line-height, 18px);
        }
    }

    &[data-size="L"] {
        padding: var(--input-l-padding-y, var(--padding-400, 16px)) var(--input-l-padding-x, var(--padding-600, 24px));
        gap: var(--input-l-gap, var(--gap-300, 12px));

        &:before {
            border-radius: 10px;
        }

        input {
            font-size: var(--input-l-font-size, var(--font-size-400, 16px));
            line-height: var(--input-l-line-height, 18px);
        }
    }


    &[data-icon="before"] {
        grid-template-columns: 16px auto;
    }

    &[data-icon="after"] {
        grid-template-columns: auto 16px;
    }

    &[data-icon="both"],
    &[data-icon="before"][data-status="success"],
    &[data-icon="before"][data-status="fail"] {
        grid-template-columns: 16px auto 16px;
    }

    &:not(.input--checkbox) {
        position: relative;
    }

    .button {
        position: absolute;
        top: 50%;
        right: 8px;
        transform: translateY(-50%);
    }

    .show-pass {
        background-color: red !important;
    }
}

[data-theme="light"] .input {
    &[data-shade="100"] {
        background: var(--input-background-color-default, var(--background-color-150, #F0F2F4));
        border-color: var(--input-border-color-default, var(--border-color-150, #F0F2F4));
        color: var(--input-text-color, var(--text-color-200, #363636));
        input {
            color: inherit;

            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
                box-shadow: 0 0 0 30px var(--background-color-150, #F0F2F4) inset !important;
                -webkit-box-shadow: 0 0 0 30px var(--background-color-150, #F0F2F4) inset !important;
                -webkit-text-fill-color: var(--text-color-200, #363636)
            }

            &::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: var(--input-placeholder-color, var(--text-color-700, #5B6367));
                opacity: 1;
                /* Firefox */
            }

            &:-ms-input-placeholder {
                /* Internet Explorer 10-11 */
                color: var(--input-placeholder-color, var(--text-color-700, #5B6367));
            }

            &::-ms-input-placeholder {
                /* Microsoft Edge */
                color: var(--input-placeholder-color, var(--text-color-700, #5B6367));
            }
        }
    }

    &[data-shade="200"] {
        background: var(--input-background-color-default, var(--background-color-200, #E1E6E9));
        border-color: var(--input-border-color-default, var(--border-color-200, #E1E6E9));
        color: var(--input-text-color, var(--text-color-200, #363636));
        input {
            color: inherit;

            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
                box-shadow: 0 0 0 30px var(--background-color-200, #E1E6E9) inset !important;
                -webkit-box-shadow: 0 0 0 30px var(--background-color-200, #E1E6E9) inset !important;
                -webkit-text-fill-color: var(--text-color-200, #363636)
            }

            &::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: var(--input-placeholder-color, var(--text-color-700, #5B6367));
                opacity: 1;
                /* Firefox */
            }

            &:-ms-input-placeholder {
                /* Internet Explorer 10-11 */
                color: var(--input-placeholder-color, var(--text-color-700, #5B6367));
            }

            &::-ms-input-placeholder {
                /* Microsoft Edge */
                color: var(--input-placeholder-color, var(--text-color-700, #5B6367));
            }
        }
    }
}

[data-theme="dark"] .input {
    &[data-shade="100"] {
        background: var(--input-background-color-default, var(--background-color-950, #242424));
        border-color: var(--input-border-color-default, var(--border-color-950, #242424));
        color: var(--input-text-color, var(--text-color-950, #ffffff));

        input {
            color: inherit;

            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
                box-shadow: 0 0 0 30px var(--background-color-950, #242424) inset !important;
                -webkit-box-shadow: 0 0 0 30px var(--background-color-950, #242424) inset !important;
                -webkit-text-fill-color: var(--text-color-950, #ffffff)
            }

            &::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: var(--input-placeholder-color, var(--text-color-400, #616161));
                opacity: 1;
                /* Firefox */
            }

            &:-ms-input-placeholder {
                /* Internet Explorer 10-11 */
                color: var(--input-placeholder-color, var(--text-color-400, #616161));
            }

            &::-ms-input-placeholder {
                /* Microsoft Edge */
                color: var(--input-placeholder-color, var(--text-color-400, #616161));
            }
        }
    }

    &[data-shade="200"] {
        background: var(--input-background-color-default, var(--background-color-900, #2E2F30));
        border-color: var(--input-border-color-default, var(--border-color-900, #2E2F30));
        color: var(--input-text-color, var(--text-color-950, #ffffff));

        input {
            color: inherit;

            &:-webkit-autofill,
            &:-webkit-autofill:hover,
            &:-webkit-autofill:focus,
            &:-webkit-autofill:active {
                box-shadow: 0 0 0 30px var(--background-color-900, #2E2F30) inset !important;
                -webkit-box-shadow: 0 0 0 30px var(--background-color-900, #2E2F30) inset !important;
                -webkit-text-fill-color: var(--text-color-950, #ffffff)
            }

            &::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: var(--input-placeholder-color, var(--text-color-400, #616161));
                opacity: 1;
                /* Firefox */
            }

            &:-ms-input-placeholder {
                /* Internet Explorer 10-11 */
                color: var(--input-placeholder-color, var(--text-color-400, #616161));
            }

            &::-ms-input-placeholder {
                /* Microsoft Edge */
                color: var(--input-placeholder-color, var(--text-color-400, #616161));
            }
        }
    }
}