.modal {
    display: grid;
    position: fixed;
    inset: 0;
    transition: all .3s ease-in-out .3s;
    padding: 16px;
    z-index: 9;
    &[data-type="popup"] {
        inset: 0;
        background-color: rgba(10, 10, 10, 0.5);
        opacity: 0;
        .modal-inner {
            display: grid;
            gap: 32px;
            align-self: center;
            padding: 32px;
            text-align: center;
            font-size: 18px;
            line-height: 1.4;
            background-color: var(--background-color-200);
            border-radius: 16px;
        }
        &[data-state="active"] {
            opacity: 1;
        }
    }
    &[data-type="drawer"] {
        display: grid;
        align-content: end;
        inset: 0 0 68px 0;
        .modal-inner {
            background-color: var(--background-color-100);
            border-bottom: 1px solid var(--background-color-200);
            color: var(--text-color-700);
            padding: 16px;
            min-height: 400px;
            height: auto;
            max-height: 420px;
            overflow: auto;
        }
        transform: translateY(100%);
        z-index: 7;
        &[data-state="active"] {
            transform: translateY(0);
        }
    }
}