@import "../components/button/style.scss";
@import "../components/guest-edit/style.scss";
@import "../components/guest-selector/style.scss";
@import "../components/header/style.scss";
@import "../components/icon/style.scss";
@import "../components/input/style.scss";
@import "../components/modal/style.scss";
@import "../components/navigation/style.scss";
@import "../components/search/style.scss";
@import "../components/seat/style.scss";
@import "../components/seats-list/style.scss";
@import "../components/table/style.scss";
@import "../components/tables-list/style.scss";

.body {
    display: grid;
    // &[data-layout="two"] {
    //     grid-template-rows: auto min-content;
    //     gap: 10px;
    // }
    &-top {
        padding: 16px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    }
    &-content {
        display: grid;
        grid-template-rows: auto min-content;
        overflow-y: auto;
        padding: 16px;
        gap: 12px;
    }
    &-botton {
        padding: 16px;
    }
    .actions {
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 12px;
    }
}

.guest-list {
    display: grid;
    grid-template-rows: min-content;
    align-content: start;
    gap: 8px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.tables {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    &-left,
    &-right {
        display: grid;
        gap: 20px;
    }
    &-left {
        align-content: end;
    }
    &-right {
        align-content: start;
    } 
}